@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

body {
  font-family: "Share Tech Mono", monospace;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  padding: 20px;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shops {
  margin: 10px;
}

.shops a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  font-size: larger;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
}
